@use "../../../presets" as *;
@use "../../../mixins" as *;
.skills {
  @include sm-min {
    padding: $gap-sm;
  }
  @include sm {
    padding: $gap;
  }
  &__container {
    display: grid;

    @include lg-min {
      grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
      gap: $gap-sm;
    }
    @include lg-md {
      grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
      gap: $gap-sm;
    }
    @include md-sm {
      grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
      gap: $gap-sm;
    }
    @include sm {
      grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9";
      gap: $gap;
    }
  }
  &__actions {
    display: flex;
    align-content: center;
    justify-content: center;

    margin-top: $gap;
    @include sm-min {
      margin-bottom: $gap-lg;
    }
  }
}
