@use "../../presets" as *;
@use "../../mixins" as *;
.about {
  background-color: $color-gray-light;
  letter-spacing: 0.055em;
  & h2 {
    margin-top: 0;
  }
  @extend %section-padding;
  &__container {
    @extend %container;
    display: grid;
    grid-template-columns: 1fr 271px;
    @include lg-min {
      gap: $gap-x5;
    }

    @include lg-md {
      gap: $gap-x2;
    }
    @include md-sm {
      grid-template-columns: 1fr 236px;
      gap: $gap;
    }
    @include sm {
      grid-template-columns: 1fr;
      gap: $gap;
    }
  }
  &__content p {
    @include lg-min {
      font-size: 1.125rem;
    }
    &:first-of-type {
      position: relative;
      margin-top: -5px;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        @include lg-min {
          right: -$gap * 2.5;
        }
        @include lg-md {
          right: -$gap;
        }
        @include md-sm {
          right: -$gap-sm;
        }
        @include sm {
          display: none;
        }
        width: 2px;
        height: 200px;
        background-color: rgba($color-gray, 0.1);
      }
    }
    &:last-of-type {
      margin: 0;
    }
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      max-width: 100%;
      max-height: 480px;
    }
  }
}
