@use "../presets" as *;
@use "mixins" as *;
@use "mixins-media" as *;

%container {
  max-width: $ul;
  margin: 0 auto;
  padding-right: $gap;
  padding-left: $gap;
}
%section-padding {
  @include lg-min {
    padding-top: $gap-x5;
    padding-bottom: $gap-x5;
  }

  @include lg-md {
    padding-top: $gap-x4;
    padding-bottom: $gap-x4;
  }
  @include md {
    padding-top: $gap-x3;
    padding-bottom: $gap-x3;
  }
}
