@use "../presets" as *;
@use "../mixins" as *;
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  overflow-y: scroll;

  letter-spacing: 0.1em;

  color: $color-gray;

  font-family: $font-main;
  font-size: $font-size;
}

h1 {
  text-align: center;
  letter-spacing: 0.08em;
  /* letter-spacing относительно font-size */

  color: $color-light;

  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2em;

  @include lg-min {
    font-size: 3.75rem;
  }
  @include lg-md {
    font-size: 2.5rem;
  }
  @include md {
    font-size: 1.875rem;
  }
}
h2 {
  letter-spacing: 0.1em;

  color: $color-primary;

  font-family: "Roboto Slab";
  font-weight: 700;
  line-height: 1.2em;

  @include lg-min {
    margin-bottom: 3rem;

    font-size: 2.5rem;
    // margin: 0 0 56px;
  }
  @include lg-md {
    margin: 0 0 2.625rem;

    font-size: 2rem;
  }
  @include md {
    margin-bottom: 2.25rem;

    font-size: 1.5rem;
  }
  @include sm {
    text-align: center;
  }
}
// p {
// }
h3 {
  letter-spacing: 0.05em;

  color: $color-gray;

  font-size: 1.125rem;
}

a {
  text-decoration: none;

  color: $color-light;
}
p {
  color: #637588;
}
input:focus {
  outline: none;
}
